# Executables
fact/fact
sumSqrFusion/sumSqrFusion

# Build artifacts
*.o
*.hi
*.o-boot
*.hi-boot
*.dyn_hi
*.dyn_hi-boot
*.dyn_o
*.cabal-sandbox

# Dumped Cmm, Core, assembly, etc.
*_dump
*.s
*.cmm
*.hi
*.o
*.simpl
*.hcr
*.tc-trace

# notes
*.txt
